<html>
    <script id="tinyhippos-injected">if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }</script>
    <head></head>
    <body cz-shortcut-listen="true">
    <div class="container project-view">
        <div class="row">
            <div id="btn-close-x"></div>
            <div class="col-md-12">
                <div class="project-info">
                <h2 style="text-align:center;">Delight Gavor<hr style="color:#1a9a41; height:4px; width:50%;"></h2>
                <p style="font-size:17.5px; line-height:28px;">I want to live in a world where youth love using what they learn and love to do to develop themselves and their own communities. My experience from working with African Community Education and Network for Teaching Entrepreneurship (NFTE) have been pivotal in providing necessary skills in youth development to live out this desire.<br> <br>
    As co-founder of Butterfly Effect, I have the opportunity to use my knowledge as a Psychology Major with a double minor in Management and Entrepreneurship to live out two of my favorite mottos: Knowledge in the Service of Africa and Challenge Convention Change the world. Being the light of the world means different things to everyone, for me, founding Butterfly Effect is my way. </p>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">(function () {
        return window.SIG_EXT = {};
      })()</script></body></html>