<html>
    <script id="tinyhippos-injected">if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }</script>
    <head></head>
    <body cz-shortcut-listen="true">
    <div class="container project-view">
        <div class="row">
            <div id="btn-close-x-alpha"></div>
            <div class="col-md-12">
                <div class="project-info-alpha project-info">
                <h2 style="text-align:center;">Public School Curriculum<hr style="color:#1a9a41; height:4px; width:50%;"></h2>
                <p style="font-size:17.5px; line-height:28px;">This is our flagship curriculum currently running in two public schools. Here, our hands-on approach develops the individual as well as the community. The experience that the curriculum provides  from self-discovery to self-development and a sense of responsibility, supplements the traditional education system. The Public School Curriculum is designed to promote critical thinking, creativity, communication, teamwork and independent learning that moves beyond rote memorisation typical of a traditional curriculum. And as such it has three distinct stages that develops and affirms the abilities of each child 
<br><br>
The <em>first stage</em> is designed to serve as a discovery mission which will helps transform the minds and outlook of our participants. It seeks to do two things. The first is has to provide a platform where students can move beyond academic topics and think more broadly towards the world around them. It aims to expose them to as much as possible whether it’s in the form of ideas, careers, current affairs etc. We believe that inspiration comes from knowledge and thus students begin to build an idea of their interests, passions, skills and goals. The second part expands this by exploring the role of national pride and civic responsibility amidst all this. 
<br><br>
The  <em>second stage</em> focuses on the creative intersection between the interests and talents of participants and the needs or opportunities present in the community. The task is to brainstorm initiatives that utilize the talents of participants and/or helps them explore their various interests to meet these needs or opportunities. 
<br><br>
The <em>last stage</em> sees participants take their ideas from just an idea to a fully fledged operation where they are gaining skills, expanding knowledge and exploring interests.   </p>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">(function () {
        return window.SIG_EXT = {};
      })()</script></body></html>