<html>
    <script id="tinyhippos-injected">if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }</script>
    <head></head>
    <body cz-shortcut-listen="true">
    <div class="container project-view">
        <div class="row">
            <div id="btn-close-x"></div>
            <div class="col-md-12">
                <div class="project-info">
                <h2 style="text-align:center;">Primrose Adjepong<hr style="color:#1a9a41; height:4px; width:50%;"></h2>
                        <p style="font-size:17.5px; line-height:28px;">Primrose wants to live in a world where what people were thinking was written out on their forehead and traffic didn’t exist. As the co-founder of BE, Primrose has been adequately equipped for this role. Through community literacy projects with the G-Project charity, the African Leadership Academy and Hult Business School, she has gained expansive experience and knowledge in the area of education and youth community development. <br> <br> She has been awarded by the University of St Andrews and the Scottish Institute for Enterprise for her entrepreneurial ventures and progress with Butterfly Effect. Butterfly Effect is the perfect  intersection of her passions, experiences and needs of Ghana. And that is reason enough to jump out of bed every morning excited to start work. </p>
            </div>
        </div>
    </div>
<script type="text/javascript">(function () {
        return window.SIG_EXT = {};
      })()</script></body></html>